*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
doc/doc.stamp
doc/html/
doc/nopoll.doxygen
install-sh
libtool
ltmain.sh
missing
nopoll.pc
src/nopoll_config.h
stamp-h1
test-driver
test/nopoll-regression-client
test/nopoll-regression-listener
