# optional nsis installation
# export makensis              = c:/ARCHIV~1/NSIS/makensis.exe
export makensis		= "C:/Program Files (x86)/NSIS/makensis.exe"

# Flags to compile OPENSSL
# Uncomment the following lines, placing the libraries following the path
# schema provided to get support OpenSSL
export OPENSSL_FLAGS = -DENABLE_TLS_SUPPORT -Ic:/OpenSSL-Win64/include/
export OPENSSL_LIBS = c:/OpenSSL-Win64/bin/libeay32.dll c:/OpenSSL-Win64/bin/ssleay32.dll
# export OPENSSL_FLAGS = -DENABLE_TLS_SUPPORT -Ic:/OpenSSL-098k/include/
# export OPENSSL_LIBS = c:/OpenSSL-098k/bin/libeay32.dll c:/OpenSSL-098k/bin/ssleay32.dll

# platform version prefix
# export version_prefix           = -MinGW32
export version_prefix    = -MinGW64

# platform bits 
# export platform_bits     = 32
export platform_bits     = 64

# link indication for .lib files
# export link_machine      = X86
export link_machine      = "X64"
# /MACHINE:{ARM|EBC|IA64|MIPS|MIPS16|MIPSFPU|MIPSFPU16|          SH4|THUMB|X64|X86}
# https://msdn.microsoft.com/en-us/library/5wy54dk2(v=vs.90).aspx


# force build with debug
# export show_debug        = -DSHOW_DEBUG_LOG
export show_debug        =

# cc compiler to use usually gcc.exe
# export CC          = gcc.exe
export CC          = x86_64-w64-mingw32-gcc.exe